* {
  padding: 0;
  margin: 0;
}

button {
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  padding: 1rem;
}

.img {
  border-radius: 10px;
}
